<h1> Showing Article Details </h1>

<% if flash[:notice] %>
	<%= flash[:notice] %>
<% end %>

<p><strong>Title: </strong> <%= @article.title %> </p>
<p><strong>Description: </strong> <%= @article.description %> </p>
<p><strong>Author: </strong> <%= @article.user.username %> </p>
<hr>

<%= link_to 'Edit Article', edit_article_path(@article) %>  |

<%= link_to 'Delete Article', article_path(@article), data: { "turbo_method": :delete, turbo_confirm: "Are you sure?"} %> | 

<%= link_to 'All Articles', articles_path %>